<table mat-table [dataSource]="movies" class=" table mat-elevation-z8">

 <!-- Id Column -->
<ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let movie"> {{movie.id}} </td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Título </th>
    <td mat-cell *matCellDef="let movie"> {{movie.title}} </td>
  </ng-container>

  <!-- Director Column -->
  <ng-container matColumnDef="director">
    <th mat-header-cell *matHeaderCellDef> Diretor(es) </th>
    <td mat-cell *matCellDef="let movie"> {{movie.director}} </td>
  </ng-container>

  <!-- Generes Column  -->
  <ng-container matColumnDef="generes">
    <th mat-header-cell *matHeaderCellDef> Genero(s) </th>
    <td mat-cell *matCellDef="let movie"> {{movie.generes}} </td>
  </ng-container>

   <!-- Year Column -->
   <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Ano </th>
    <td mat-cell *matCellDef="let movie"> {{movie.year}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let movie">

        <a routerLink="/movies/update/{{movie.id}}" class="action edit">
            <i class="material-icons">edit</i>
        </a>

        <a routerLink="/movies/delete/{{movie.id}}" class="action delete">
            <i class="material-icons">delete</i>
        </a>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>